###
### {{ ansible_managed }}
###

###################################################################################################

[Unit]
Requires={{ docker_engine_systemd_socket_name }}
After=network.target {{ docker_engine_systemd_socket_name }}

###################################################################################################

[Service]
ExecStart={{ docker_engine_link_path }} daemon --host=fd:// --config-file={{ docker_engine_config_dest }}
Restart=on-failure
KillMode=process

###################################################################################################

[Install]
WantedBy=multi-user.target

###################################################################################################

# https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service
