###
### {{ ansible_managed }}
###

###################################################################################################

[Unit]
PartOf={{ docker_engine_systemd_service_name }}

###################################################################################################

[Socket]
Service={{      docker_engine_systemd_service_name }}
SocketMode={{   docker_engine_unix_socket_mode     }}
SocketUser={{   docker_engine_unix_socket_owner    }}
SocketGroup={{  docker_engine_unix_socket_group    }}
ListenStream={{ docker_engine_unix_socket_path     }}

###################################################################################################

[Install]
WantedBy={{ docker_engine_systemd_socket_wantedby }}

###################################################################################################
