###
### {{ ansible_managed }}
###

###################################################################################################

[Unit]
PartOf={{ docker_engine_systemd_service_name }}

###################################################################################################

[Socket]
ListenStream=/var/run/docker.sock
SocketMode=0660
SocketUser=root
#SocketGroup=docker

###################################################################################################

[Install]
WantedBy=sockets.target

###################################################################################################

# https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.socket
