###
### {{ ansible_managed }}
###

###################################################################################################

[Unit]
After=network.target

###################################################################################################

[Service]
ExecStart={{ docker_engine_link_path }} daemon --config-file={{ docker_engine_config_dest }}
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

###################################################################################################

[Install]
WantedBy=multi-user.target

###################################################################################################

# https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service
# https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.socket
