{
  "server"          : true,
  "data_dir"        : "{{ consul_server_data_base      }}",
  "bind_addr"       : "{{ ansible_default_ipv4.address }}",
  "node_name"       : "{{ ansible_fqdn                 }}",
  "datacenter"      : "{{ consul_server_datacenter     }}",
  "retry_join"      : [ {% for entry in groups[consul_server_inventory_group] %}"{{ hostvars[entry]['ansible_default_ipv4']['address'] }}"{% if not loop.last %}, {% endif %}{% endfor %} ],
  "bootstrap_expect": {{ groups[consul_server_inventory_group] | count }}
}
